//  ==========================================================================
//  Griding settings ~ Strictly structural elements in here
//  ==========================================================================

//  Grid settings
    @isResponsive:true; 
        
//DESKTOP
    @grid_full:960px;
    @grid_gutter:5px;
    @grid_outer_gutter:20px;

//TABLET
    @grid_tablet:756px;                   //Portrait
    @grid_tablet_l_min:@grid_tablet + 1;  //Portrait to Landscape
    @grid_tablet_l_max:959px;             //Landscape

    @grid_tablet_gutter:5px;
    @grid_tablet_outer_gutter:0;

//MOBILE
    @grid_mobile_portrait:320px;
    @grid_mobile_l_min:@grid_mobile_portrait + 1;
    @grid_mobile_l_max:959px + 1;
    @grid_mobile_landscape:480px;

    @grid_mobile_gutter:5px;
    @grid_mobile_outer_gutter:0;
  
//  grid settings
    @d_grid_12:12;
    @d_grid_11:11;
    @d_grid_10:10;
    @d_grid_9:9;
    @d_grid_8:8;
    @d_grid_7:7;
    @d_grid_6:6;
    @d_grid_5:5;
    @d_grid_4:4;
    @d_grid_3:3;
    @d_grid_2:2;
    @d_grid_1:1;


// ==========================================================================
// Build the responsive Griding
// ==========================================================================

  .getGrid(@width, @grid, @gutter){
      width:(@width / @grid) - (2 * @gutter);
      margin-left:@gutter;
      margin-right:@gutter;
  }
  .getChildGrid(@abswidth, @absgrid, @absgutter, @abs_o_grid){
      @parentGridblockWidth:(@abswidth / @abs_o_grid) - (2 * @absgutter);
      @childGridblockWidth:(@parentGridblockWidth / @absgrid) - (2 * @absgutter);
      @childGridGutter:(@parentGridblockWidth - (@childGridblockWidth * @absgrid)) / @absgrid;
      width:@childGridblockWidth;
      margin-left:@absgutter;
      margin-right:@absgutter;
  }
  .getFluidGrid(@width, @percent, @gutter){
      @blockWidth:(@width * (@percent / 100)) - (2 * @gutter);
      width:@blockWidth;
      margin-left:@gutter;
      margin-right:@gutter;
  }
  .getFluidChildGrid(@relwidth, @relpercent, @relgutter, @rel_o_percent){
      @parentblockWidth:(@relwidth * (@rel_o_percent / 100)) - (2 * @relgutter);
      @childblockWidth:(@parentblockWidth * (@relpercent / 100)) - (2 * @relgutter);
      @childgutter:(@parentblockWidth - (@childblockWidth * (100 / @relpercent))) / (100 / @relpercent);
      width:@childblockWidth;
      margin-left:@relgutter;
      margin-right:@relgutter;
  }

  // Offset grids
  .GenerateGridOffset(@width, @grid, @gutter){
      @offsetGridBlockWidth:(@width / @grid);
      margin-left:@offsetGridBlockWidth + (@gutter);
  }
  .GenerateFluidOffset(@offsetwidth, @offsetpercent, @offsetgutter){
      @offsetBlockWidth:(@offsetwidth * (@offsetpercent / 100));
      @offset:@offsetBlockWidth + (@offsetgutter);
      margin-left:@offset;
  }

  .GenerateDefaultGrid(){
      .GenerateTheWrappers(@width, @outerGutter){
          .grid_container{
              width:@width;
              margin-left:auto;
              margin-right:auto;
              padding-left:@outerGutter;
              padding-right:@outerGutter;
          }
      }.GenerateTheWrappers(@grid_full, @grid_gutter);

      //  The below create nested elements.
      .GenerateChildGridMethods(@originalWidth, @originalGrid){
          .grid_12{
              .getChildGrid(@originalWidth, @d_grid_12, @grid_gutter, @originalGrid);
          }
          .grid_11{
              .getChildGrid(@originalWidth, @d_grid_11, @grid_gutter, @originalGrid);
          }
          .grid_10{
              .getChildGrid(@originalWidth, @d_grid_10, @grid_gutter, @originalGrid);
          }
          .grid_9{
              .getChildGrid(@originalWidth, @d_grid_9, @grid_gutter, @originalGrid);
          }
          .grid_8{
              .getChildGrid(@originalWidth, @d_grid_8, @grid_gutter, @originalGrid);
          }
          .grid_7{
              .getChildGrid(@originalWidth, @d_grid_7, @grid_gutter, @originalGrid);
          }
          .grid_6{
              .getChildGrid(@originalWidth, @d_grid_6, @grid_gutter, @originalGrid);
          }
          .grid_5{
              .getChildGrid(@originalWidth, @d_grid_5, @grid_gutter, @originalGrid);
          }
          .grid_4{
              .getChildGrid(@originalWidth, @d_grid_4, @grid_gutter, @originalGrid);
          }
          .grid_3{
              .getChildGrid(@originalWidth, @d_grid_3, @grid_gutter, @originalGrid);
          }
          .grid_2{
              .getChildGrid(@originalWidth, @d_grid_2, @grid_gutter, @originalGrid);
          }
          .grid_1{
              .getChildGrid(@originalWidth, @d_grid_1, @grid_gutter, @originalGrid);
          } 
      }
      .GenerateFluidChildGridMethods(@originalWidth, @originalPercent){
          .grid_25{
              .getFluidChildGrid(@originalWidth, 25, @grid_gutter, @originalPercent);
          }
          .grid_33{
              .getFluidChildGrid(@originalWidth, 33.3334, @grid_gutter, @originalPercent);
          }
          .grid_50{
              .getFluidChildGrid(@originalWidth, 50, @grid_gutter, @originalPercent);
          }
          .grid_66{
              .getFluidChildGrid(@originalWidth, 66.6666, @grid_gutter, @originalPercent);
          }
          .grid_75{
              .getFluidChildGrid(@originalWidth, 75, @grid_gutter, @originalPercent);
          }
          .grid_100{
              .getFluidChildGrid(@originalWidth, 100, @grid_gutter, @originalPercent);
          }
      }

      //  Define, and create our  and Fluid grids
      .grid_12    {
          .getGrid(@grid_full, @d_grid_12, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_12);
      }
      .grid_11    {
          .getGrid(@grid_full, @d_grid_11, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_11);
      }
      .grid_10    {
          .getGrid(@grid_full, @d_grid_10, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_10);
      }
      .grid_9     {
          .getGrid(@grid_full, @d_grid_9, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_9);
      }
      .grid_8     {
          .getGrid(@grid_full, @d_grid_8, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_8);
      }
      .grid_7     {
          .getGrid(@grid_full, @d_grid_7, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_7);
      }
      .grid_6     {
          .getGrid(@grid_full, @d_grid_6, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_6);
      }
      .grid_5     {
          .getGrid(@grid_full, @d_grid_5, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_5);
      }
      .grid_4     {
          .getGrid(@grid_full, @d_grid_4, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_4);
      }
      .grid_3     {
          .getGrid(@grid_full, @d_grid_3, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_3);
      }
      .grid_2     {
          .getGrid(@grid_full, @d_grid_2, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_2);
      }
      .grid_1     {
          .getGrid(@grid_full, @d_grid_1, @grid_gutter);
          .GenerateChildGridMethods(@grid_full, @d_grid_1);
      }
      .grid_25    {
          .getFluidGrid(@grid_full, 25, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 25);
      }
      .grid_33    {
          .getFluidGrid(@grid_full, 33.3334, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 33.3333);
      }
      .grid_50    {
          .getFluidGrid(@grid_full, 50, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 50);
      }
      .grid_66    {
          .getFluidGrid(@grid_full, 66.6666, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 66.6666);
      }
      .grid_75    {
          .getFluidGrid(@grid_full, 75, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 75);
      }
      .grid_100   {
          .getFluidGrid(@grid_full, 100, @grid_gutter);
          .GenerateFluidChildGridMethods(@grid_full, 100);
      }

      // Offsets
      .offset_12    {
          .GenerateGridOffset(@grid_full, @d_grid_12, @grid_gutter);
      }
      .offset_11    {
          .GenerateGridOffset(@grid_full, @d_grid_11, @grid_gutter);
      }
      .offset_10    {
          .GenerateGridOffset(@grid_full, @d_grid_10, @grid_gutter);
      }
      .offset_9     {
          .GenerateGridOffset(@grid_full, @d_grid_9, @grid_gutter);
      }
      .offset_8     {
          .GenerateGridOffset(@grid_full, @d_grid_8, @grid_gutter);
      }
      .offset_7     {
          .GenerateGridOffset(@grid_full, @d_grid_7, @grid_gutter);
      }
      .offset_6     {
          .GenerateGridOffset(@grid_full, @d_grid_6, @grid_gutter);
      }
      .offset_5     {
          .GenerateGridOffset(@grid_full, @d_grid_5, @grid_gutter);
      }
      .offset_4     {
          .GenerateGridOffset(@grid_full, @d_grid_4, @grid_gutter);
      }
      .offset_3     {
          .GenerateGridOffset(@grid_full, @d_grid_3, @grid_gutter);
      }
      .offset_2     {
          .GenerateGridOffset(@grid_full, @d_grid_2, @grid_gutter);
      }
      .offset_1     {
          .GenerateGridOffset(@grid_full, @d_grid_1, @grid_gutter);
      }
      .offset_25    {
          .GenerateFluidOffset(@grid_full, 25, @grid_gutter);
      }
      .offset_33    {
          .GenerateFluidOffset(@grid_full, 33.3334, @grid_gutter);
      }
      .offset_50    {
          .GenerateFluidOffset(@grid_full, 50, @grid_gutter);
      }
      .offset_66    {
          .GenerateFluidOffset(@grid_full, 66.6666, @grid_gutter);
      }
      .offset_75    {
          .GenerateFluidOffset(@grid_full, 75, @grid_gutter);
      }
      .offset_100   {
          .GenerateFluidOffset(@grid_full, 100, @grid_gutter);
      }

      .MakeItResponsive(@a) when (@a = false) {
          //There's nothing to make responsive
      }
      .MakeItResponsive(@a) when (@a = true){
        .GenerateTheTabletResponsiveAwesomeness(@portrait_width, @landscape_min, @landscape_max){
            @media (max-device-width: @portrait_width) {
                .grid_12    {
                    .getGrid(@portrait_width, @d_grid_12, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_12);
                }
                .grid_11    {
                    .getGrid(@portrait_width, @d_grid_11, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_11);
                }
                .grid_10    {
                    .getGrid(@portrait_width, @d_grid_10, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_10);
                }
                .grid_9     {
                    .getGrid(@portrait_width, @d_grid_9, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_9);
                }
                .grid_8     {
                    .getGrid(@portrait_width, @d_grid_8, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_8);
                }
                .grid_7     {
                    .getGrid(@portrait_width, @d_grid_7, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_7);
                }
                .grid_6     {
                    .getGrid(@portrait_width, @d_grid_6, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_6);
                }
                .grid_5     {
                    .getGrid(@portrait_width, @d_grid_5, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_5);
                }
                .grid_4     {
                    .getGrid(@portrait_width, @d_grid_4, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_4);
                }
                .grid_3     {
                    .getGrid(@portrait_width, @d_grid_3, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_3);
                } 
                .grid_2     {
                    .getGrid(@portrait_width, @d_grid_2, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_2);
                }
                .grid_1     {
                    .getGrid(@portrait_width, @d_grid_1, @grid_gutter);
                    .GenerateChildGridMethods(@portrait_width, @d_grid_1);
                }

                .grid_25    {
                    .getFluidGrid(@portrait_width, 25, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 25);
                }
                .grid_33    {
                    .getFluidGrid(@portrait_width, 33.3334, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 33.3334);
                }
                .grid_50    {
                    .getFluidGrid(@portrait_width, 50, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 50);
                }
                .grid_66    {
                    .getFluidGrid(@portrait_width, 66.6666, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 66.6666);
                }
                .grid_75    {
                    .getFluidGrid(@portrait_width, 75, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 75);
                }
                .grid_100   {
                    .getFluidGrid(@portrait_width, 100, @grid_gutter);
                    .GenerateFluidChildGridMethods(@portrait_width, 100);
                }

                // Offsets
                .offset_12    {
                    .GenerateGridOffset(@portrait_width, @d_grid_12, @grid_gutter);
                }
                .offset_11    {
                    .GenerateGridOffset(@portrait_width, @d_grid_11, @grid_gutter);
                }
                .offset_10    {
                    .GenerateGridOffset(@portrait_width, @d_grid_10, @grid_gutter);
                }
                .offset_9     {
                    .GenerateGridOffset(@portrait_width, @d_grid_9, @grid_gutter);
                }
                .offset_8     {
                    .GenerateGridOffset(@portrait_width, @d_grid_8, @grid_gutter);
                }
                .offset_7     {
                    .GenerateGridOffset(@portrait_width, @d_grid_7, @grid_gutter);
                }
                .offset_6     {
                    .GenerateGridOffset(@portrait_width, @d_grid_6, @grid_gutter);
                }
                .offset_5     {
                    .GenerateGridOffset(@portrait_width, @d_grid_5, @grid_gutter);
                }
                .offset_4     {
                    .GenerateGridOffset(@portrait_width, @d_grid_4, @grid_gutter);
                }
                .offset_3     {
                    .GenerateGridOffset(@portrait_width, @d_grid_3, @grid_gutter);
                }
                .offset_2     {
                    .GenerateGridOffset(@portrait_width, @d_grid_2, @grid_gutter);
                }
                .offset_1     {
                    .GenerateGridOffset(@portrait_width, @d_grid_1, @grid_gutter);
                }
                .offset_25    {
                    .GenerateFluidOffset(@portrait_width, 25, @grid_gutter);
                }
                .offset_33    {
                    .GenerateFluidOffset(@portrait_width, 33.3334, @grid_gutter);
                }
                .offset_50    {
                    .GenerateFluidOffset(@portrait_width, 50, @grid_gutter);
                }
                .offset_66    {
                    .GenerateFluidOffset(@portrait_width, 66.6666, @grid_gutter);
                }
                .offset_75    {
                    .GenerateFluidOffset(@portrait_width, 75, @grid_gutter);
                }
                .offset_100   {
                    .GenerateFluidOffset(@portrait_width, 100, @grid_gutter);
                }

                .GenerateTheWrappers(@portrait_width, @grid_tablet_outer_gutter);
            }
            @media (min-device-width: @grid_tablet_l_min) and (max-width: @grid_tablet_l_max) {
                .grid_12    {
                    .getGrid(@landscape_min, @d_grid_12, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_12);
                }
                .grid_11    {
                    .getGrid(@landscape_min, @d_grid_11, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_11);
                }
                .grid_10    {
                    .getGrid(@landscape_min, @d_grid_10, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_10);
                }
                .grid_9     {
                    .getGrid(@landscape_min, @d_grid_9, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_9);
                }
                .grid_8     {
                    .getGrid(@landscape_min, @d_grid_8, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_8);
                }
                .grid_7     {
                    .getGrid(@landscape_min, @d_grid_7, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_7);
                }
                .grid_6     {
                    .getGrid(@landscape_min, @d_grid_6, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_6);
                }
                .grid_5     {
                    .getGrid(@landscape_min, @d_grid_5, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_5);
                }
                .grid_4     {
                    .getGrid(@landscape_min, @d_grid_4, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_4);
                }
                .grid_3     {
                    .getGrid(@landscape_min, @d_grid_3, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_3);
                } 
                .grid_2     {
                    .getGrid(@landscape_min, @d_grid_2, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_2);
                }
                .grid_1     {
                    .getGrid(@landscape_min, @d_grid_1, @grid_gutter);
                    .GenerateChildGridMethods(@landscape_min, @d_grid_1);
                }

                .grid_25    {
                    .getFluidGrid(@landscape_min, 25, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 25);
                }
                .grid_33    {
                    .getFluidGrid(@landscape_min, 33.3334, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 33.3334);
                }
                .grid_50    {
                    .getFluidGrid(@landscape_min, 50, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 50);
                }
                .grid_66    {
                    .getFluidGrid(@landscape_min, 66.6666, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 66.6666);
                }
                .grid_75    {
                    .getFluidGrid(@landscape_min, 75, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 75);
                }
                .grid_100   {
                    .getFluidGrid(@landscape_min, 100, @grid_gutter);
                    .GenerateFluidChildGridMethods(@landscape_min, 100);
                }

                // Offsets
                .offset_12    {
                    .GenerateGridOffset(@landscape_min, @d_grid_12, @grid_gutter);
                }
                .offset_11    {
                    .GenerateGridOffset(@landscape_min, @d_grid_11, @grid_gutter);
                }
                .offset_10    {
                    .GenerateGridOffset(@landscape_min, @d_grid_10, @grid_gutter);
                }
                .offset_9     {
                    .GenerateGridOffset(@landscape_min, @d_grid_9, @grid_gutter);
                }
                .offset_8     {
                    .GenerateGridOffset(@landscape_min, @d_grid_8, @grid_gutter);
                }
                .offset_7     {
                    .GenerateGridOffset(@landscape_min, @d_grid_7, @grid_gutter);
                }
                .offset_6     {
                    .GenerateGridOffset(@landscape_min, @d_grid_6, @grid_gutter);
                }
                .offset_5     {
                    .GenerateGridOffset(@landscape_min, @d_grid_5, @grid_gutter);
                }
                .offset_4     {
                    .GenerateGridOffset(@landscape_min, @d_grid_4, @grid_gutter);
                }
                .offset_3     {
                    .GenerateGridOffset(@landscape_min, @d_grid_3, @grid_gutter);
                }
                .offset_2     {
                    .GenerateGridOffset(@landscape_min, @d_grid_2, @grid_gutter);
                }
                .offset_1     {
                    .GenerateGridOffset(@landscape_min, @d_grid_1, @grid_gutter);
                }
                .offset_25    {
                    .GenerateFluidOffset(@landscape_min, 25, @grid_gutter);
                }
                .offset_33    {
                    .GenerateFluidOffset(@landscape_min, 33.3334, @grid_gutter);
                }
                .offset_50    {
                    .GenerateFluidOffset(@landscape_min, 50, @grid_gutter);
                }
                .offset_66    {
                    .GenerateFluidOffset(@landscape_min, 66.6666, @grid_gutter);
                }
                .offset_75    {
                    .GenerateFluidOffset(@landscape_min, 75, @grid_gutter);
                }
                .offset_100   {
                    .GenerateFluidOffset(@landscape_min, 100, @grid_gutter);
                }

                .GenerateTheWrappers(@landscape_min, @grid_tablet_outer_gutter);
            }

        }.GenerateTheTabletResponsiveAwesomeness(@grid_tablet, @grid_tablet_l_min, @grid_tablet_l_max);


        @media (max-device-width: @grid_mobile_portrait) {
            .grid_12    {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_11    {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_10    {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_9     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_8     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_7     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_6     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_5     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_4     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_3     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_2     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }
            .grid_1     {
                .getGrid(@grid_mobile_portrait, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_portrait, 1);
            }  

            .grid_25    {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            }
            .grid_33    {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            }
            .grid_50    {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            }
            .grid_66    {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            }
            .grid_75    {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            }
            .grid_100   {
                .getFluidGrid(@grid_mobile_portrait, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_portrait, 100);
            } 
            .GenerateTheWrappers(@grid_mobile_portrait, @grid_mobile_outer_gutter);
        }
        @media only screen and (min-device-width: @grid_mobile_l_min) and (max-device-width: @grid_mobile_l_max){
            .grid_12    {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_11    {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_10    {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_9     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_8     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_7     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_6     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_5     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_4     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_3     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_2     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }
            .grid_1     {
                .getGrid(@grid_mobile_landscape, 1, @grid_gutter);
                .GenerateChildGridMethods(@grid_mobile_landscape, 1);
            }  

            .grid_25    {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }
            .grid_33    {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }
            .grid_50    {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }
            .grid_66    {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }
            .grid_75    {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }
            .grid_100   {
                .getFluidGrid(@grid_mobile_landscape, 100, @grid_gutter);
                .GenerateFluidChildGridMethods(@grid_mobile_landscape, 100);
            }  
            .GenerateTheWrappers(@grid_mobile_landscape, @grid_mobile_outer_gutter);
        }


      }.MakeItResponsive(@isResponsive);

      .grid_block{
          margin-bottom:2 * @grid_gutter;
          float:left;
          display:block;
      }
      .grid_block .grid_block{
          //We don't want to change the look of the outer grid
          margin-bottom:0;
      }
      .grid_row{
          margin-bottom:2 * @grid_gutter;
      }
      .grid_row:last-of-type,
      .grid_row:last-child{
          margin-bottom:0;
      }
      .grid_block .grid_100,
      .grid_block .grid_1{
          margin-left:0;
          margin-right:0;
          width:100%;
      }

  }.GenerateDefaultGrid();