// ==========================================================================
//    USING THE MIXINS
//
//   .element{.makeRounded(5px);}
//   .element{.makeGradient(#000, #fff, #686868);}
//   .element{.makeDropshadow(0px, 1px, 10px, rgba(0, 0, 0, 1));}
//   .element{.makeOpacity(0.7);}
//   .element{.makeSpace(10px, 10px, 10px, 50px);}
//   ==========================================================================

//  Imports
    @import "grid.css";
    @import "mixins";

//  Font settings
    @fontstack: Helvetica, Arial, sans-serif;

//  ==========================================================================
//  DEMO CSS
//  ==========================================================================
    
html,body{
    margin:0;
    padding:10px 0;
}

.clear{
    display:block;
    height:0;
    clear:both;
}

    @block:#98A5B5;
    .grid_block{
        background:@block;
        text-align:center;
        font-size:25px;
        color:#f0f0f0;
        padding:25px 0;
        overflow:hidden;
        font-family:@fontstack;
    }
    .grid_block.grid_block_nest{
        padding:0;
    }

    .grid_block .grid_block{
        background:darken(@block, 10%);
    }

//  ==========================================================================
//  THE USUAL SUSPECTS
//  ==========================================================================
*{
    transition:all .01s linear; 
    -o-transition:all .01s linear; 
    -moz-transition:all .01s linear; 
    -webkit-transition:all .01s linear;

    -webkit-transition-timing-function:ease-out;
    -moz-transition-timing-function:ease-out;
    -o-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}
.clear{
    margin:0;
    padding:0;
    clear:both;
    height:0;
    display:block;
} 
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}