//  ==========================================================================
//  Mixin settings ~ Strictly re-usable methods in here
//  ========================================================================== */

  //ROUNDED CORNERS
  .makeRounded(@radius: 2px) {
      -moz-border-radius:@radius;
      -webkit-border-radius:@radius;
      -o-border-radius:@radius;
      -ms-border-radius:@radius;
      -khtml-border-radius:@radius;
      border-radius:@radius;
  } 

  //GRADIENTS
  .makeGradient(@from, @to, @fallback) {
      background:@fallback; 
      background-image:-moz-linear-gradient(top, @from 0%, @to 100%);
      background-image:-webkit-linear-gradient(top,color-stop(0, @from), color-stop(1, @to));
      background-image:-ms-linear-gradient(top, @from 0%, @to 100%);
      background-image:-o-linear-gradient(top, @from 0%, @to 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@from, endColorstr=@to);
      -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@from, endColorstr=@to);
  }

  //DROPSHADOW
  .makeDropshadow(@a:0px, @b:1px, @c:10px, @colour:rgba(0, 0, 0, 1)) {
      -moz-box-shadow:@a @b @c @colour;
      -webkit-box-shadow:@a @b @c @colour;
      box-shadow:@a @b @c @colour;
      -moz-box-shadow:@a @b @c @colour;
      -webkit-box-shadow:@a @b @c @colour;
      box-shadow:@a @b @c @colour;
  }

  //OPACITY
  .makeOpacity(@opacity: 0.7){
      @thisopacity:percentage(@opacity);
      -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=@thisopacity);
      filter:alpha(opacity=@thisopacity);
      -moz-opacity:@opacity;
      -khtml-opacity:@opacity;	
      opacity:@opacity;
  }